.questions{

    background-image: url('https://i.ibb.co/4WBMqsc/forrest.jpg');

    .questions__items{
        max-width: 757px;
        padding-bottom: 15px;
        border: none;
    }

    .questions__item{
       background-color: rgba(0,0,0,0.3);
       max-width: 690px;
       position: relative;


    &:nth-child(3)::before{
        position: absolute;
        content: "";
        width: 319px;
        height: 125px;
        top: -33px;
        right: -319px;
        background-image: url('../../assets/img/question-drone.svg');
        z-index: -1;
    }
     
       .questions__item-text{
           padding: 26px 5px 49px 50px;
           font-family: 300;
           font-size: 15px;
           line-height: 22px;
           margin: 0;
           display: none;
           transition: all .3s;
       }
    }

    .questions__item-title{
        line-height: 28px;
        font-size: 21px;
        background-color: rgba(0,0,0,0.3);
        color: rgba(#fff,.8);
         padding: 20px 10px 25px 40px;
         margin-bottom: 4px;
         position: relative;
         cursor: pointer;
        
         
      
         &::after{
             content:url('../../assets/img/arrow-down-black.svg');
             display: flex;
             justify-content:center;
             align-items: center;
             position: absolute;
             width: 72px;
             height: 71px;
             background-color: #fff;
             color: #5E5E57;
             right: -72px;
             top: 0;
             transition: 0.4s;
         }
    }
}

@media(max-width:1250px){
    .questions .questions__item:nth-child(3)::before{
        display: none;
    }

    .questions .questions__items{
        padding-right: 60px;
    }
}