.specification{
    
    background-image: url('https://i.ibb.co/4WBMqsc/forrest.jpg');
    
    .specification__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;

        .specification__item{
            .specification__item--center{
                margin-left: -15px;
                margin-right: 15px;
            }
        }

        .specification__box{
            width: 280px;
            position: relative;
            margin-top: 10px;
            &::before{
                content: "";
                position: absolute;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: cover;
            }

            .specification__box-title{
                font-size: 21px;
                line-height: 28px;
                margin-bottom: 10px;
                font-weight: 700;
            }

            .specification__box-text{
                font-size: 15px;
                font-weight: 300;
                line-height: 18px;
                font-weight: 300;
            }
        }

 
        .specification__box-2{
            margin-top: 140px;
        }
        .specification__box-4{
            margin-top: 160px;
        }

        .specification__box-1::before{
            background-image: url('../../assets/img/указка\ 1.svg');
            width: 229px;
            height: 114px;
            right: -150px;
            top: 16px;

        }
        .specification__box-2::before{
            background-image:url('../../assets/img/указка\ 2.svg'); 
            width: 346px;
            height: 81px;
            right: -308px;
            top: -65px;
        }
        .specification__box-3::before{
            background-image: url('../../assets/img/указка\ 3.svg');
            width: 258px;
            height: 103px;
            left: -299px;
            top: 16px;

        }
        .specification__box-4::before{
            background-image: url('../../assets/img/указка\ 4.svg');
            width: 124px;
            height: 89px;
            left: -172px;
            top: -73px;
        }

    }
}